<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss,SSS} [%t] %-5p %c{36} - %m%n"/>
    </Console>
    <Log4j2Appender name="Log4j2Appender">
      <PatternLayout pattern="%d{HH:mm:ss,SSS} [%t] %-5p %c{36} - %m%n"/>
      <verbose>false</verbose>

      <!-- Examples of optional tags to attach to entries (applicable only to SOLR & Elasticsearch)-->
      <tags>TEST,ONE,TWO;THREE</tags>

      <!-- Number of messages (lines of log) to buffer before publishing out -->
      <stagingBufferSize>10</stagingBufferSize>
      <!-- Uncomment below to override stagingBufferSize and to attempt a publish every 15 minutes -->
        <!--<stagingBufferAge>15</stagingBufferAge>-->

      <!-- Uncomment AND configure the lines below to enable upload to S3 -->
        <!--        <s3Bucket>mybucket</s3Bucket>-->
        <!--        <s3Path>logs/exampleApplication2/</s3Path>-->

        <!--<s3Region>us-west-2</s3Region>-->
        <!-- NOTE: Only s3Region above or (s3ServiceEndpoint + s3SigningRegion) below can be used at one time -->
        <!--<s3ServiceEndpoint>...</s3ServiceEndpoint>-->
        <!--<s3SigningRegion>...</s3SigningRegion>-->

      <!-- Uncomment below to apply GZIP compression on content sent to S3 -->
        <!--<s3Compression>true</s3Compression>-->

      <!-- Uncomment below to use SSE for S3. NOTE: SSE_S3 is the only supported option right now -->
        <!-- <s3SseKeyType>SSE_S3</s3SseKeyType> -->

      <!-- Uncomment AND configure the lines below to enable upload to Azure blob storage -->
        <!-- <azureStorageConnectionString>DefaultEndpointsProtocol=https;AccountName=...;EndpointSuffix=core.windows.net</azureStorageConnectionString> -->
        <!-- <azureBlobContainer>mycontainer</azureBlobContainer> -->
        <!-- <azureBlobNamePrefix>logs/exampleApplication2/</azureBlobNamePrefix> -->

      <!-- Uncomment below to apply GZIP compression on content sent to Azure blob storage -->
        <!-- <azureBlobCompressionEnabled>true</azureBlobCompressionEnabled> -->

      <!-- Uncomment AND configure the line below to enable upload to SOLR -->
        <!--<solrUrl>http://localhost:8983/solr/gettingstarted/</solrUrl>-->


      <!-- Uncomment AND configure the lines below to enable upload to Elasticsearch -->
        <!--<elasticsearchHosts>localhost:9300</elasticsearchHosts>-->
        <!--<elasticsearchCluster>elasticsearch</elasticsearchCluster>-->
        <!--<elasticsearchIndex>logindex</elasticsearchIndex>-->
        <!--<elasticsearchType>log</elasticsearchType>-->
		
    </Log4j2Appender>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="ConsoleAppender" />
      <AppenderRef ref="Log4j2Appender" />
    </Root>
  </Loggers>
</Configuration>
